body{
    font-family: 'Roboto',sans-serif;
    font-size: 16px
}

h1, h2{
    font-family: 'Oswald', sans-serif;
    font-size: 46px
}

.container-fluid{
    padding: 0
}

.navbar-default{
    background-color: #333;
    border: none;
    border-radius: 0;
    margin-bottom: -20px
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
    color: #eee
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active{
    color: #f88f1c;
}

.navbar-right{
    margin-right: 0.8em
}
header{
   min-height: 500px;
   text-transform: uppercase;
   padding: 0 1em;
}
header .row{
   margin-top: 1em 0;
}
header img{
    width: 100%;
    height: auto
}

header h3{
    max-width: 38em;
    margin: 1em auto
}

.panel-default>.panel-heading{
    background-color: #f88f1c;
    border-color:   #f88f1c;
    color:#eee
}

.form-control{
    margin: 1em 0;
    padding: 1.5em;
}

.form{
    margin-top: 2em;
}

.spec_price{
    font-size: 30px;
    font-weight: 700
}





.benefits{
    margin: 1em 0 4em
}

.benefits h2, .tech h2, .cat h2, .fish h2{
    margin:  2em 0
}

.cat .thumbnail{
    min-height: 565px;
    margin-bottom: 0
}

.well{
    background-color: #4caf50!important;
    color: #eee
}



footer{
    background-color: #333;
    color: #eee
}

footer .row{
    margin-top: 2em
}

.panel-body{
    padding: 0
}


@media screen and (min-width:768px){
    header{
          padding: 0 8em;
    }
    .banner {
    background-image:url("../pictures/river2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 0 0.5em 0
    }

.banner .container-fluid{
    background-color: #333;
    background-color: rgba(0,0,0,0.5);
    color: #eee;
}

.fish {
    background-image:url("../pictures/fisher.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 0 0.5em 0;
    min-height: 250px
    }

.fish .container-fluid{
    background-color: #333;
    background-color: rgba(0,0,0,0.5);
    color: #eee;
    min-height: 250px
}

/**Animated Button**/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
}

@media screen and (max-width:768px){
.media-body{
  width: auto;
  display: block!important
}
.nav{
    margin: 0
}
.nav li{
    border-bottom: 1px solid #eee;
    padding: 0.5em 0     
}
.navbar-collapse{
    padding: 0
}
h1{
    font-size: 30px
}

h2{
    font-size: 23px
}

h3{
    font-size: 18px;

}
.form{
    margin-top: 0
}
.benefits{
    margin: 0
}
}

@media (min-width: 900px){
.navbar-toggle {
    display: none;
}
}
